venv
model
*.zip
*.pth
resnet - Copy.ipynb
test.ipynb
__pycache__
*.pkl
*.npz
*.h5
*.ipynb
logs
ex_config.toml
datasets_cache
img_studies_metadata_test.csv
img_with_errors.csv
sample_submissionA.csv
train.csv
submissions